<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTP-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Time Keeper</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="dashboard">
            {%for i in range(len)%}
            <div class="chart-container">
                <div class="chart">
                    <img src='data:image/png;base64,{{graphs[i]}}'/>
                </div>
                <div>{{titles[i]}}</div>
            </div>
            {%endfor%}
        </div>
    </body>
</html>
